body, html {
    height: 100%;
    margin: 0px;
}

.site {
    height: 100%;
    background-color: #313233;
}

.barra-navegacao {
    background-color: #242526;
}

.botao-navegacao {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    padding: 0px 16px 0px 4px;
}

.div-direita {
    width: fit-content;
    margin-left: auto;
}

svg {
    padding-left: 10px;
}

