body, html {
    height: 100%;
    margin: 0px;
}

.site {
    height: 100%;
    background-color: #1c1e1f;
}

.barra-navegacao {
    background-color: #242526;
    height: 55px;
    border-bottom: solid 1px grey;
}

.botao-navegacao {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    padding: 0px;
    background-color: #FFFFFF1A;
    border: none;
    cursor: pointer;
    margin-top: 8px;
}

.div-direita {
    height: 55px;
    width: fit-content;
    margin-left: auto;
}

svg {
    height: 18px;
    padding: 8px;
    fill: white;
}

.sino-notificacao {
    position: absolute;
    height: 15px;
    width: 22px;
    border-radius: 8px;
    margin-top: 4px;
    padding: 0px;
    margin-left: -20px;
    background-color: rgb(208, 70, 70);
    color: white;
    cursor: pointer;
    border: none;
}

.conta-dropdown {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    margin-top: 35px;
    padding: 0px;
    margin-left: -15px;
    background-color: #242526;
    color: white;
    cursor: pointer;
    border: none;
}

.icone-flecha {
    height: 9px;
    padding: 2px;
    margin-top: 1px;
    fill: white;
}



