html, body {
    height: 100%;
}

.chat {
    height: 400px;
    width: 40%;
    margin: 0 auto;
    background-color: #292929;
    border-radius: 10px;
}

:root {
    --cor-padraocolor: white;
}

.header {
    height: 55px;
    border-bottom: dotted 1px grey;
    border-radius: 10px;
}

.div-direita-header {
    position: relative;
}

.titulo {
    position: relative;
    top: 10px;
}

h1 {
    color: var(--cor-padraocolor);
    margin-left: 15px;
}

.botao-opcoes-direita-header {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: none;
    background-color: #292929;
    position: absolute;
    padding: 3px;
    top: 20px;
    right: 20px;
}

.botao-opcoes-direita-header:hover {
    cursor: pointer;
    background-color: #657583;
    opacity: 70%;
}

svg {
    height: 15px;
    width: 15px;
    fill: var(--cor-padraocolor);
}

ul {
    list-style: none;
    padding-left: 5px;
}

.recebido-1, .enviado-1 {
    position: relative;
    height: 25px;
    width: fit-content;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
    padding: 10px 35px 20px 20px;
}

.recebido-1 {
    background-color: #657583;
    margin-right: auto;
}

.enviado-1 {
    background-color: #2e5f4f;
    margin-left: auto;
}

.check1 {
    fill: blue;
}

.check2 {
    fill: gray;
}

.check1, .check2 {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.drop, .drop2 {
    position: absolute;
    right: 5px;
    top: 10px;
    background-color: #657583;
    border: none;
    opacity: 0%;
}

.drop:hover {
    opacity: 100%;
    border-radius: 10px;
    border: 1px solid gray;
}

.drop2:hover {
    opacity: 100%;
    border-radius: 10px;
    border: 1px solid darkslategray;
}

.drop2 {
    background-color: #2e5f4f;
}