tr:nth-child(1) {
    background-color: #0d0d0d;
    color: white;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

table {
    border-collapse: collapse;
}

tr:nth-child(odd):not(:first-child) {
    background-color: #cccfcd;
}

tr:hover:not(:first-child) {
    background-color: #267dc5;
}

a {
    cursor: pointer;
}

a.youtube {
    background-color: #CC0000;
    padding: 2px 10px;
    border-radius: 50px;
    color: white;
}

a.instagram {
    background-color: #EA0C5F;
    padding: 2px 10px;
    border-radius: 50px;
    color: white;
}

a.tiktok {
    background-color: black;
    padding: 2px 10px;
    border-radius: 50px;
    color: white;
}
